{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
    <article class="media content-section">
              <div class="media-body">
                  <h2>Team Project: Group Exercise Challenges - Web Application</h2>
                  <h3>This web application is a prototype showing the functionality of an exercise challenge social media. </h3>
                  <p>The basic idea is that friends can register and login to their personal profile, where they can create custom exercise group challenges.
                  When an exercise challenge group has been created, people can make posts alongside video content to show case their attempts at the challenge with the amount of reps they have said.
                  Users of a group can then up-vote or down-vote these posts, to verify that the stated reps align with what was seen on the video.
                  This acts as a consensus by the majority of people in the group, when consensus has been achieved, a post is accepted or rejected depending on whether it had been up-voted or down-voted by the majority.
                  Once accepted, this data will populate group challenge leaderboards, personal progress and group progress data charts, where friends can compete and try and top the tables.</p>
                  <small>This Exercise Web Application was created by Louis Totten, Mark Tilbrook, Zain Ali , Richard Taggart and David Webber.</small>

              </div>
    </article>
{% endblock content %}
