{% extends "layout.html" %}
{% block content %}
    {% set var = namespace(are_there_posts=False) %}
    {% for post, user, postvote in posts %}
        {% if postvote.decided == False %}
            {% set var.are_there_posts = True %}
            <article class="media content-section">
              <div class="media-body">
                <div class="article-metadata">
                  <a class="mr-2" href="#">{{ user.username }}</a>
                  <small class="text-muted">{{ post.date_posted }}</small>
                </div>
                <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
                  <video width="320" height="240" controls>

<!--                change this if deployed on real server, but works for development-->
                <source src= "static/uploads/{{post.video}}"  type="video/mp4">
<!--                "{{ url_for('static', filename='post.video') }}"-->
                Your browser does not support the video tag.
                </video>
                <p class="article-content">{{ post.content }}</p>
                <p class="article-content">{{ post.reps }}</p>
                {% if not (current_user_id == user.id) %}


                    <form method="post" action="" id="{{postvote.id}}">

                    <div class="form-group" name="{{postvote.id}}" >
                    {{ form.csrf_token() }}
                        {{ form.upvote( class="btn btn-outline-info") }} <small>Upvotes = {{ postvote.upvote_number}}</small>
                    {{ form.downvote( class="btn btn-outline-info") }} <small>Downvotes = {{ postvote.downvote_number}}</small>
                    {{ form.myhiddenid(value=postvote.id ) }}
                        <p>
                            <small>It is {{postvote.decided}} that this post has been decided </small></p>



                    </div>
                    </form>


                {% endif %}
        {% endif %}

              </div>

            </article>

    {% endfor %}
    {% if current_user.is_authenticated %}
        {% if not var.are_there_posts %}
            <p>There are no posts to see yet!</p>
        {% endif %}
    {% endif %}
{% endblock content %}
